Port 22
ChallengeResponseAuthentication no
HostKey /config/ssh_host_rsa_key
HostKey /config/ssh_host_ecdsa_key
HostKey /config/ssh_host_ed25519_key
Protocol 2
PermitRootLogin no
PasswordAuthentication no
MaxStartups 100:30:200
AllowUsers git
PrintMotd no
PrintLastLog no
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys {{secrets.gitlab.data}}/ssh/authorized_keys
UsePAM yes
UseDNS no